@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');


.card__main {
	margin: 15px;
	box-shadow: 3px 3px 2px black;
	width: 340px;
	height: 340px;
	border-radius: 8px;
	background: whitesmoke;
}

@media (max-width: 1040px) {
	.info__col {
		margin-left: 160px;
	}
}

@media (min-width: 994px) {
	.addMargin {
		margin-left: 0;
		margin-right: 0;
	}

}

.typo__card {
	font-family: 'Fuzzy Bubbles', cursive;
	text-decoration: underline;
	font-size: 1.2rem;
	margin-top: 3px;
	padding: 2px;
	text-align: left;
}

.typo__body {
	font-family: 'Dosis', sans-serif;
	color: black;
	font-size: medium;
	padding: 2px;
	text-align: left;
}





.info__col {
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 30px;

}

.info__row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 1;
	justify-content: center;
	align-items: center;
}


