@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&display=swap');


.maincard__cont {
	width: 65% ;
	height: 65%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	box-shadow: 6px 6px 6px black;

}

.check_buttons {
	margin-top: 1.4rem;
	padding: 2rem;
	border-radius: 12px;
	box-shadow: 4px 4px 4px black;

}

.display__col {
	text-align: center;
	padding: 1rem;
}


.maincard__h2 {
	color: black;
	font-size: 4.5rem;
	text-align: center;
	text-decoration: underline;
	font-family: 'Permanent Marker', cursive;

}

.maincard__p {
	margin-top: 1rem;
	color: black;
	font-size: 2.5rem;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
}

@media (max-width: 420px) {
	.maincard__cont {
		width: 85%;
		height: 85%;
	}
	.maincard__h2 {
		font-size: 3rem;
	}
	.maincard__p {
		font-size: 1.5rem;
	}
}