@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

.cardstyle {
	text-align: center;
	margin: 1rem;
	padding: 1rem;
	border-radius: 10px;
	box-shadow: 7px 7px 2px black;
	background: lightgrey;
}

@media (max-width: 420px) {
	.card__boxes {
		flex-wrap: wrap;
		margin-top: 8px;
	}
	.cardstyle {
		width: 100%;
	}
	
}

@media (max-width: 1430px) {
	.disappearCol {
		display: none;
	}
	
}


.cc_busi {
	background: rgba(0,130,0,1);
	border-radius: 10px;
	box-shadow: 4px 4px 2px black;
}

.cc_trust {
	background: rgba(0,130,0,1);
	border-radius: 10px;
	box-shadow: 4px 4px 2px black;
}

.h2-styling {
	text-decoration: underline;
	margin-top: 12px;
}

.card-description {
	font-size: 1.4rem;
	text-wrap: normal;
	font-family: 'Dosis', sans-serif;

}



.avatarstyle {
	width: 80px;
	height: 80px;
	margin: auto;
}

.headingstyle {
	font-size: 1.8rem;
	font-weight: bold;
	letter-spacing: 0.5px;
	margin-top: 8px;
	margin-bottom: 0;
	text-decoration: underline;
	font-family: 'Fuzzy Bubbles', cursive;


}

.indiv__cont {
	margin: 25px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
